<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.byeoldori">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Byeoldori_App"
        android:theme="@style/Theme.Byeoldori">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:resizeableActivity="true"
            android:exported="true"
            android:theme="@style/Theme.Byeoldori"
            android:windowLayoutInDisplayCutoutMode="shortEdges"
            tools:ignore="LockedOrientation"
            tools:targetApi="o_mr1">
<!-- tools ignore떄문에 오류가 위에서는 안잡힘. 주의할것-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
