<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.byeoldori">

    <!-- 인터넷 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 위치 권한 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Byeoldori_App"
        android:theme="@style/Theme.Byeoldori">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${naverClientId}" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"
            android:resizeableActivity="true"
            android:exported="true"
            android:theme="@style/Theme.Byeoldori"
            android:windowLayoutInDisplayCutoutMode="shortEdges"
            tools:ignore="LockedOrientation"
            tools:targetApi="o_mr1">
<!-- tools ignore떄문에 오류가 위에서는 안잡힘. 주의할것-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
